@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic);

/* GLOBAL */
html, body {
    margin: 0;
	height: 100%;
}

html {
	background-color: #F9F9F9;
    background-size: cover;
    background-repeat: no-repeat;
}
.bgcolor{
	background-color: #40ABF7;
	background-size: cover;
    background-repeat: no-repeat;
	
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 300px;
}

/* NAVBAR */
nav {
	background-color: #1A1A1A;
	
	font-family: 'Roboto', sans-serif;
	line-height: 161.8%;
}

nav ul {

    list-style-type: none;
    padding: 0;
    overflow: hidden;
	
	width: 750px;
	margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
}

nav ul li title{
	padding: 15px;
	padding-left: 15px;
	padding-right: 15px;
	
	display: block;
    font-weight: bold;
    color: #FFFFFF;
	
	text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    float: left;
	
	-webkit-stroke-width: 5.3px;
	-webkit-stroke-color: #FFFFFF;
	-webkit-fill-color: #FFFFFF;
	text-shadow: 1px 0px 20px #FFF;
}

nav ul li a{

	padding: 15px;
	padding-left: 15px;
	padding-right: 15px;
	
	display: block;
    font-weight: bold;
    color: #FFFFFF;
	
	text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	
    float: right;
	transition-property: background-color;
	transition-duration: 0.5s;
    background-color: #1A1A1A;
}

nav ul li a:hover, nav ul li a:active {
	transition-property: background-color;
	transition-duration: 0.5s;
    background-color: #3B3B3B;
}

nav ul li a[active="true"]{
	background-color: #666;
}

/* CONTENT */
#content{
	width: 900px;
	margin-left: auto;
    margin-right: auto;
	
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 161.8%;
	color: #1A1A1A;

}

.panel {
	padding: 20px;
	margin: 0.5rem 0 1rem 0;
	border-radius: 2px;
	background-color: #fff;
	
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.panel h1{
	font-weight: 500;
}
.panel p{
	font-weight: 400;
}

.notification {
    font-family: 'Roboto', sans-serif;
	line-height: 161.8%;
	color: #1A1A1A;
	
    border-radius:4px;
    padding: 7px 10px 7px 52px;
    margin:10px;
}

.error {
	background:#ffecec url('images/icons/clear5.svg') no-repeat 7px 50%;
	background-color: #FF7575;
}

.success {
	background:#ffecec url('images/icons/check52.svg') no-repeat 7px 50%;
	background-color: #AAFF75;
}

.information {
	background:#ffecec url('images/icons/person325.svg') no-repeat 7px 50%;
	background-color: #7591FF;
}

.warning {
	background:#ffecec url('images/icons/notifications1.svg') no-repeat 7px 50%;
	background-color: #FFEF75;
}

/* FOOTER */
footer{

	margin-top: 45px;
	margin-bottom: 30px;

	text-align: center;
	
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 161.8%;
	
	font-weight: 500;
	color: #777;
	text-shadow: 0px 0px 20px #666;
}